<div class="modal fade" id="modal-estimate-note-item" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New estimate note</h5>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal"
                     aria-label="Close" title="Close" data-bs-toggle="tooltip">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
            </div>
            <div class="modal-body">
                <form class="m-form" id="estimate-note-item-modal-form" action="#"
                      enctype="multipart/form-data" method="post">

                    <div class="form-group ic-form-group">
                        <label class="form-label required">
                            <span class="ic-step-number">1</span>
                            Description
                        </label>

                        <textarea class="form-control form-control-solid form-control-validate"
                                  id="estimate-note-item-description" name="description" rows="4"
                                  placeholder="Enter note description"></textarea>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btn-salvar-estimate-note-item-modal">Save</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/metronic8/js/components/modal-estimate-note-item.js') }}"></script>
