<div class="modal fade" id="modal-employee-subcontractor" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Employee</h5>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal"
                     aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
            </div>
            <div class="modal-body">
                <form class="m-form" id="employee-subcontractor-modal-form" action="#"
                      enctype="multipart/form-data" method="post">

                    <div class="form-group ic-form-group">
                        <label class="form-label required">
                            <span class="ic-step-number">1</span>
                            Name
                        </label>
                        <input type="text" class="form-control form-control-solid form-control-validate"
                               id="employee-subcontractor-modal-name" name="name"/>
                    </div>

                    <div class="form-group ic-form-group">
                        <label class="form-label">
                            <span class="ic-step-number">2</span>
                            Hourly Rate
                        </label>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" class="form-control form-control-solid form-control-validate just-float event-change"
                                       id="employee-subcontractor-modal-hourly_rate" name="hourlyrate"/>
                            </div>
                        </div>

                    </div>

                    <div class="form-group ic-form-group">
                        <label class="form-label">
                            <span class="ic-step-number">3</span>
                            Position
                        </label>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control form-control-validate form-control-solid event-change"
                                       id="employee-subcontractor-modal-position" name="position"/>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btn-salvar-employee-subcontractor-modal">Save</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/metronic8/js/components/modal-employee-subcontractor.js') }}?{{ 'now' | date('U') }}"></script>