<div class="modal fade" id="modal-inspector" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New inspector</h5>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal"
                     aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
            </div>
            <div class="modal-body">
                <form class="m-form" id="inspector-form" action="#"
                      enctype="multipart/form-data" method="post">

                    <div class="form-group ic-form-group">
                        <label class="form-label required">
                            <span class="ic-step-number">1</span>
                            Name
                        </label>
                        <input type="text" class="form-control form-control-validate form-control-solid event-change"
                                id="inspector-name" name="name"/>
                    </div>

                    <div class="form-group ic-form-group">
                        <label class="form-label">
                            <span class="ic-step-number">2</span>
                            Email
                        </label>
                        <div class="input-group input-group-solid">
                            <span class="input-group-text">&#64;</span>
                            <input type="text" class="form-control form-control-validate event-change"
                                   id="inspector-email" name="email" autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group ic-form-group">
                        <label class="form-label">
                            <span class="ic-step-number">2</span>
                            Phone
                        </label>
                        <div class="input-group input-group-solid">
                            <span class="input-group-text"><i class="la la-phone"></i></span>
                            <input type="text" class="form-control form-control-validate event-change"
                                   id="inspector-phone" name="phone" autocomplete="off">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btn-salvar-inspector">Save</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/metronic8/js/components/modal-inspector.js') }}?{{ 'now' | date('U') }}"></script>