<div class="modal fade" id="modal-employee-subcontractor" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Employee</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-form" id="employee-subcontractor-modal-form" action="#"
                      enctype="multipart/form-data" method="post">

                    <div class="form-group m-form__group ic-form-group">
                        <label>
                            <span class="ic-step-number">1</span>
                            Name
                            <span class="ic-small italic">(required)</span>
                        </label>

                        <input type="text" class="form-control form-control-text event-change"
                               id="employee-subcontractor-modal-name" name="name"/>
                    </div>

                    <div class="form-group m-form__group ic-form-group">
                        <label>
                            <span class="ic-step-number">2</span>
                            Hourly Rate
                            <span class="ic-small italic">(required)</span>
                        </label>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control form-control-text just-float event-change"
                                       id="employee-subcontractor-modal-hourly_rate" name="hourly_rate"/>
                            </div>
                        </div>

                    </div>

                    <div class="form-group m-form__group ic-form-group">
                        <label>
                            <span class="ic-step-number">3</span>
                            Position
                            <span class="ic-small italic">(optional)</span>
                        </label>
                        <input type="text" class="form-control form-control-text event-change"
                               id="employee-subcontractor-modal-position" name="position"/>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btn-salvar-employee-subcontractor-modal">Save</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/ican/js/components/modal-employee-subcontractor.js') }}?{{ 'now' | date('U') }}"></script>