<div class="modal fade" id="modal-invoice" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">New Invoice</h5>
            <div class="d-flex align-items-center gap-2">
               <a href="javascript:;" class="btn btn-secondary cerrar-modal-invoice me-2" data-bs-dismiss="modal">
                  <i class="la la-close"></i>
                  <span class="kt-hidden-mobile font-weight-bold">Cancel</span>
               </a>

               <button id="btn-wizard-anterior" class="btn btn-warning me-2 hide" type="button">
                  <i class="la la-arrow-left me-2"></i>
                  <span class="kt-hidden-mobile font-weight-bold">Back</span>
               </button>

               <button id="btn-wizard-siguiente" class="btn btn-primary me-2" type="button">
                  <span class="kt-hidden-mobile font-weight-bold">Next</span>
                  <i class="la la-arrow-right ms-2"></i>
               </button>

               <button type="button" id="btn-salvar-invoice-modal" class="btn btn-success btn-wizard-finalizar me-2 hide">
                  <i class="la la-check"></i>
                  <span class="kt-hidden-mobile font-weight-bold">Save</span>
               </button>

               <button type="button" id="btn-salvar-exportar-invoice-modal" class="btn btn-primary btn-wizard-finalizar hide">
                  <i class="la la-file-excel-o"></i>
                  <span class="kt-hidden-mobile font-weight-bold">Save and Export</span>
               </button>
            </div>
         </div>
         <div class="modal-body">
            <form class="m-form" id="invoice-modal-form" action="#" enctype="multipart/form-data" method="post">
               <ul class="wizzard-tabs nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-bold mb-6">
                  <li class="nav-item">
                     <a class="nav-link active wizard-tab" data-item="1" data-bs-toggle="tab" href="#tab-content-general-invoice-modal" id="tab-general-invoice-modal">
                        <div class="wizard-wrapper">
                           <span class="wizard-number">
                              <i class="wizard-check ki-duotone ki-check"></i>
                              <span class="number">1</span>
                           </span>
                           <div class="wizard-label">
                              <div class="wizard-title">General</div>
                              <div class="wizard-desc">General information</div>
                           </div>
                           <span class="svg-icon ps-6">
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                 <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                    <rect
                                       fill="#000000"
                                       opacity="0.3"
                                       transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)"
                                       x="7.5"
                                       y="7.5"
                                       width="2"
                                       height="9"
                                       rx="1"
                                    ></rect>
                                    <path
                                       d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                       fill="#000000"
                                       fill-rule="nonzero"
                                       transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"
                                    ></path>
                                 </g>
                              </svg>
                           </span>
                        </div>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link wizard-tab" data-item="2" data-bs-toggle="tab" href="#tab-content-items-invoice-modal" id="tab-items-invoice-modal">
                        <div class="wizard-wrapper">
                           <span class="wizard-number">
                              <i class="wizard-check ki-duotone ki-check"></i>
                              <span class="number">2</span>
                           </span>
                           <div class="wizard-label">
                              <div class="wizard-title">Items</div>
                              <div class="wizard-desc">List of items</div>
                           </div>
                        </div>
                     </a>
                  </li>
               </ul>
               <div class="tab-content">
                  <div class="tab-pane fade show active" id="tab-content-general-invoice-modal" role="tabpanel">
                     <div class="form-group ic-form-group">
                        <div class="row">
                           <div class="col-md-4" id="select-company-invoice-modal">
                              <label class="form-label required">
                                 <span class="ic-step-number">1</span>
                                 Company
                              </label>
                              <select class="form-control form-select form-select2 select-validate form-select-solid event-change" id="company-invoice-modal" name="company">
                                 <option value="">Select</option>
                                 {% for item in companies %}
                                 <option value="{{ item.companyId }}">{{ item.name }}</option>
                                 {% endfor %}
                              </select>
                           </div>
                           <div class="col-md-6" id="select-project-invoice-modal">
                              <label class="form-label required"> Project </label>
                              <select class="form-control form-select form-select2 select-validate form-select-solid event-change" id="project-invoice-modal">
                                 <option value="">Select</option>
                              </select>
                           </div>
                           <div class="col-md-2">
                              <label class="form-label"> Number </label>
                              <input type="text" class="form-control form-control-solid form-control-validate event-change just-number" id="number-invoice-modal" name="number" />
                           </div>
                        </div>
                     </div>

                     <div class="form-group ic-form-group">
                        <div class="row">
                           <div class="col-md-2">
                              <label class="form-label required">
                                 <span class="ic-step-number">2</span>
                                 Start Date
                              </label>
                              <div class="input-group input-group-solid date-picker-filter">
                                 <input
                                    type="text"
                                    class="form-control form-control-validate filter-date"
                                    placeholder="Select a date"
                                    id="start-date-invoice-modal"
                                    autocomplete="off"
                                    name="startdate"
                                 />
                                 <span class="input-group-text">
                                    <i class="ki-duotone ki-calendar fs-2"><span class="path1"></span><span class="path2"></span></i>
                                 </span>
                              </div>
                           </div>
                           <div class="col-md-2">
                              <label class="form-label required"> End Date </label>
                              <div class="input-group input-group-solid date-picker-filter">
                                 <input type="text" class="form-control form-control-validate filter-date" placeholder="Select a date" id="end-date-invoice-modal" autocomplete="off" name="enddate" />
                                 <span class="input-group-text">
                                    <i class="ki-duotone ki-calendar fs-2"><span class="path1"></span><span class="path2"></span></i>
                                 </span>
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="form-group ic-form-group">
                        <label class="form-label">
                           <span class="ic-step-number">3</span>
                           Notes
                        </label>
                        <textarea class="form-control form-control-validate form-control-solid event-change" id="notes-invoice-modal" name="notes" rows="6"></textarea>
                     </div>
                  </div>
                  <div class="tab-pane fade" id="tab-content-items-invoice-modal" role="tabpanel">
                     <div class="row" id="lista-items-invoice-modal">
                        <div class="col-md-12">
                           <!--begin::Wrapper-->
                           <div class="d-flex flex-column flex-lg-row align-items-lg-center justify-content-between gap-4 mb-5">
                              <!-- Acciones -->
                              <div class="d-flex flex-wrap gap-3"></div>

                              <!-- Filtros -->
                              <div class="d-flex align-items-center gap-3 flex-nowrap w-100">
                                 <!--search-->
                                 <div class="position-relative w-250px flex-shrink-0">
                                    <i class="ki-duotone ki-magnifier text-primary fs-1 position-absolute top-50 translate-middle-y ms-3"><span class="path1"></span><span class="path2"></span></i>
                                    <input type="text" data-table-filter="search" class="form-control form-control-solid ps-13" placeholder="Search..." />
                                 </div>

                                 <div class="d-flex gap-3 flex-nowrap flex-grow-1 overflow-auto" style="padding-bottom: 0.25rem">
                                    <div class="input-group input-group-solid w-250px flex-shrink-0">
                                       <span class="input-group-text">Contract $:</span>
                                       <input type="text" class="form-control form-control-solid" id="modal_total_contract_amount" disabled />
                                    </div>

                                    <div class="input-group input-group-solid w-250px flex-shrink-0">
                                       <span class="input-group-text">Total $:</span>
                                       <input type="text" class="form-control form-control-solid" id="modal_total_amount_completed" disabled />
                                    </div>

                                    <div class="input-group input-group-solid w-250px flex-shrink-0">
                                       <span class="input-group-text">Unpaid $:</span>
                                       <input type="text" class="form-control form-control-solid" id="modal_total_amount_unpaid" disabled />
                                    </div>

                                    <div class="input-group input-group-solid w-250px flex-shrink-0">
                                       <span class="input-group-text">This Period $:</span>
                                       <input type="text" class="form-control form-control-solid" id="modal_total_amount_period" disabled />
                                    </div>

                                    <div class="input-group input-group-solid w-250px flex-shrink-0">
                                       <span class="input-group-text">Final Period $:</span>
                                       <input type="text" class="form-control form-control-solid" id="modal_total_amount_final" disabled />
                                    </div>

                                    <div class="input-group input-group-solid w-220px flex-shrink-0">
                                       <span class="input-group-text">Current Retainer $:</span>
                                       <input type="text" class="form-control form-control-solid" id="modal_invoice_current_retainage" disabled />
                                    </div>
                                    <div class="input-group input-group-solid w-180px flex-shrink-0">
                                       <span class="input-group-text">L Retainer $:</span>
                                       <input type="text" class="form-control form-control-solid" id="modal_invoice_retainage_calculated" disabled />
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!--end::Wrapper-->

                           <!--begin::Datatable-->
                           <table id="items-invoice-modal-table-editable" class="table table-striped align-middle table-row-dashed fs-6 gy-3 gs-5">
                              <thead class="fw-bold text-gray-800 align-middle">
                                 <tr>
                                    <th>Item</th>
                                    <th>Unit</th>
                                    <th>Unit<br />Price</th>
                                    <th>Contract<br />Quantity</th>
                                    <th>Contract<br />Amount</th>
                                    <th>Total<br />Quantity</th>
                                    <th>Total<br />Amount</th>
                                    <th>Unpaid<br />Quantity</th>
                                    <th>Unpaid<br />Amount</th>
                                    <th>Quantity<br />This Period</th>
                                    <th>Amount<br />This Period</th>
                                    <th>Quantity<br />Brought Forward</th>
                                    <th>Final<br />Invoiced Quantity</th>
                                    <th>Final<br />Amount This Period</th>
                                    <th>Actions</th>
                                 </tr>
                              </thead>
                              <tbody class="text-gray-600 fw-semibold"></tbody>
                           </table>
                           <!--end::Datatable-->

                           <!-- Bon: General, Quantity Requested, Quantity Applied, Amount -->
                           <div class="d-flex gap-3 flex-nowrap flex-grow-1 overflow-auto mt-3" style="padding-bottom: 0.25rem">
                              <div class="input-group input-group-solid w-200px flex-shrink-0">
                                 <span class="input-group-text">Bon General</span>
                                 <input type="text" class="form-control form-control-solid" id="modal_bon_general" readonly />
                              </div>
                              <div class="input-group input-group-solid w-220px flex-shrink-0">
                                 <span class="input-group-text">Bon Qty Requested (0-1)</span>
                                 <input type="number" class="form-control form-control-solid event-change" id="modal_bon_quantity_requested" name="bon_quantity_requested" min="0" max="1" step="0.01" placeholder="0" inputmode="decimal" autocomplete="off" />
                              </div>
                              <div class="input-group input-group-solid w-180px flex-shrink-0">
                                 <span class="input-group-text">Bon Qty Applied</span>
                                 <input type="text" class="form-control form-control-solid" id="modal_bon_quantity" readonly />
                              </div>
                              <div class="input-group input-group-solid w-180px flex-shrink-0">
                                 <span class="input-group-text">Bon Amount</span>
                                 <input type="text" class="form-control form-control-solid" id="modal_bon_amount" readonly />
                              </div>
                              <input type="hidden" id="modal_total_boned_x" />
                              <input type="hidden" id="modal_total_boned_y" />
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modal-invoice-item" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">New item</h5>
            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
               <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
            </div>
         </div>
         <div class="modal-body">
            <form class="m-form" id="item-invoice-modal-form" action="#" enctype="multipart/form-data" method="post">
               <div class="form-group ic-form-group">
                  <div class="row">
                     <div class="col-md-4">
                        <label class="form-label required">
                           <span class="ic-step-number">1</span>
                           Quantity
                        </label>
                        <input type="text" class="form-control form-control-validate form-control-solid form-control-number" id="item-quantity-invoice-modal" name="quantity" />
                     </div>
                     <div class="col-md-4">
                        <label class="form-label required"> Price </label>
                        <div class="input-group input-group-solid">
                           <span class="input-group-text">$</span>
                           <input type="text" class="form-control form-control-validate form-control-price event-change" id="item-price-invoice-modal" name="price" />
                        </div>
                     </div>
                     <div class="col-md-4">
                        <label class="form-label required"> Total </label>
                        <div class="input-group input-group-solid">
                           <span class="input-group-text">$</span>
                           <input type="text" class="form-control form-control-validate form-control-price event-change" id="item-total-invoice-modal" name="total" disabled />
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-success" id="btn-salvar-item-invoice-modal">Save</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
         </div>
      </div>
   </div>
</div>

<!-- Modal Change Order History -->
<div class="modal fade" id="modal-change-order-history" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Change Order History</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body"></div>
      </div>
   </div>
</div>

<script src="{{ asset('bundles/metronic8/js/components/modal-invoice.js') }}?{{ 'now' | date('U') }}"></script>
