/* You can add global styles to this file, and also import other style files */
.btn-focus {
    color: #fff;
    background-color: #2C3691 !important;
    border-color: #2C3691 !important;;
}

.btn-focus:hover {
    color: #fff;
    background-color: #3D479C !important;;
    border-color: #3D479C !important;;
}

.btn-focus:focus, .btn-focus.focus {
    box-shadow: 0 0 0 3px rgba(83, 93, 183, 1) !important;;
}

.btn-focus.disabled, .btn-focus:disabled {
    background-color: #3D479C !important;;
    border-color: #3D479C !important;;
}

.btn-focus:active, .btn-focus.active,
.show > .btn-focus.dropdown-toggle {
    background-color: #3D479C !important;;
    background-image: none !important;;
    border-color: #3D479C !important;;
}

.btn-outline-focus {
    color: #3D479C !important;;
    background-color: transparent !important;;
    background-image: none !important;;
    border-color: #3D479C !important;;
}

.btn-outline-focus:hover {
    color: #ffffff;
    background-color: #3D479C !important;;
    border-color: #3D479C !important;
}

.btn-outline-focus:focus, .btn-outline-focus.focus {
    box-shadow: 0 0 0 3px rgba(222, 248, 120, 0.6);
}

.btn-outline-focus.disabled, .btn-outline-focus:disabled {
    color: #DEF878 !important;
    background-color: transparent;
}

.btn-outline-focus:active, .btn-outline-focus.active,
.show > .btn-outline-focus.dropdown-toggle {
    color: #ffffff;
    background-color: #2C3691;
    border-color: #2C3691;
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
    color: #2C3691;
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon {
    color: #2C3691;
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:hover > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item:hover > .m-menu__link .m-menu__link-text {
    color: #DEF878;
}

.m-portlet__head-text {
    color: #000 !important;
}

.btn.m-btn--hover-brand:hover, .btn.m-btn--hover-brand.active, .btn.m-btn--hover-brand:active, .btn.m-btn--hover-brand:focus, .show > .btn.m-btn--hover-brand.dropdown-toggle {
    border-color: #2C3691 !important;
    color: #ffffff !important;
    background-color: #2C3691 !important;
}

.m-topbar__username {
    color: #2C3691 !important;
}

.btn.m-btn--label-brand {
    color: #2C3691;
}

.m-nav > .m-nav__item:hover > .m-nav__heading .m-nav__link-icon, .m-nav > .m-nav__item:hover > .m-nav__heading .m-nav__link-text, .m-nav > .m-nav__item:hover > .m-nav__link .m-nav__link-icon, .m-nav > .m-nav__item:hover > .m-nav__link .m-nav__link-text, .m-nav > .m-nav__item.m-nav__item--active > .m-nav__heading .m-nav__link-icon, .m-nav > .m-nav__item.m-nav__item--active > .m-nav__heading .m-nav__link-text, .m-nav > .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-icon, .m-nav > .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-text {
    color: #2C3691;
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
    color: #2C3691;
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-bullet.m-menu__link-bullet--dot > span, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-bullet.m-menu__link-bullet--dot > span {
    background-color: #2C3691;
}

.nav.nav-pills.nav-pills--brand .nav-link.active {
    background: #2C3691;
    color: #ffffff;
}

.m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link:hover, .m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link.active, .m-tabs-line.m-tabs-line--primary a.m-tabs__link:hover, .m-tabs-line.m-tabs-line--primary a.m-tabs__link.active {
    color: #2C3691;
    border-bottom: 1px solid #2C3691;
}

.ic-step-number {
    background: #000 !important;
}

.m-form__actions {
    border-top: 1px solid #ebedf2;
    margin-top: 30px;
}

.m-checkbox.m-checkbox--focus > span:after {
    border: solid #2C3691;
}

.m-checkbox.m-checkbox--focus > input:checked ~ span {
    border: 1px solid #2C3691 !important;
}

.form-control:focus {
    border-color: #2C3691;
    color: #575962;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple,
.select2-container--default.select2-container--open .select2-selection--single {
    border-color: #2C3691;
}

.m-table.m-table--border-brand, .m-table.m-table--border-brand th, .m-table.m-table--border-brand td {
    border-color: #2C3691;
}

.m-table.m-table--head-bg-brand thead th {
    background: #2C3691;
}

.m-dropzone.m-dropzone--primary {
    border-color: #2C3691;
}

.dz-remove, .dz-remove:hover {
    color: #2C3691;
}

.fc-unthemed .fc-toolbar .fc-button:focus, .fc-unthemed .fc-toolbar .fc-button:active, .fc-unthemed .fc-toolbar .fc-button.fc-state-active {
    background: #2C3691;
}

.m--font-cerda {
    color: #2C3691;
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text {
    color: #ffffff !important;
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg {
    background: #2C3691;
    border-color: #2C3691;
}

.m-portlet.m-portlet--accent.m-portlet--head-solid-bg .m-portlet__head {
    background-color: #2C3691;
    border-color: #2C3691;
}

.m-portlet__nav-item .nav-link {
    color: #6f727d;
    font-weight: 400;
    border-radius: 20px;
    padding: .6em 1.4em;
    font-size: .85rem;
}

.m-portlet__nav-item .active {
    background-color: #2C3691;
    color: #fff;
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--active {
    background: #2C3691;
    color: #ffffff;
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--first, .m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--prev, .m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--next, .m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link.m-datatable__pager-link--last {
    color: #2C3691;
}

.m-datatable.m-datatable--default > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link:hover {
    color: #2C3691;
}

.m-datatable > .m-datatable__pager > .m-datatable__pager-nav > li > .m-datatable__pager-link:hover {
    background: #2C3691 !important;
    color: #fff !important;
}

.bootstrap-select.btn-group.show > .dropdown-toggle.btn-default, .bootstrap-select.btn-group.show > .dropdown-toggle.btn-secondary {
    border-color: #2C3691 !important;
}

.m-form__actions > button {
    margin-right: 10px;
}

@media (min-width: 992px){
    .modal-xl {
        max-width: 1200px;
    }
}